@page
@model TallyJ4.Models.NullViewModel
@{
  Layout = "_Layout4Component";
  ViewBag.Component = this;
}
<script type="text/x-template" id="public-elections">
  <h1>A list of elections</h1>
</script>